@using MirimWebsite.Models
@{
    Layout = null;
}
<!-- 진민 -->
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>3학년 5반 웹사이트</title>
    <!-- 3학년 5반 웹사이트 관련 stylesheet-->
    <link rel="stylesheet" href="../../css/style.css">
    <!-- Google Web Font 나눔고딕 글꼴 -->
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic" rel="stylesheet">
    <style>
        html, body {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
            background-color: #f5f5f5;
            font-family: 'Nanum Gothic', sans-serif;
        }

        a
        {
            text-decoration:none;
            color:white;
        }

        #footer {
            width:100%;
            position: relative;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 3em;
            text-align:center;
            background-color: #008156;
            padding-top:0.7%;
            color: white;
            word-spacing:3px;
            font-size: 0.8em;
        }

        #footer a:hover
        {
            font-weight:bold;   
        }
    </style>
</head>

<body>

    <div id="footer">
        <footer>
            <a href="https://www.facebook.com/%EB%AF%B8%EB%A6%BC%EA%B8%89%EC%8B%9D%EC%95%8C%EB%A6%BC%EC%9D%B4-1050294678336290/" target="_blank">미림급식알리미</a> | <a href="https://www.facebook.com/groups/389540621509553/" target="_blank">3학년 5반 페이지</a> | <a href="#">구글 클래스룸</a> &nbsp;&nbsp;&nbsp;2018. 구지원, 김민경, 김진민, 이유리, 홍하은 .all rights reserved. &nbsp;&nbsp;&nbsp;담임 백현정 선생님
        </footer>
    </div>

</body>

</html>
